.container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20rem;
    margin: 5rem;
}
    .frame-one {
    position: relative;
    padding: 5rem;
    border-radius: 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: none;

    --p: 0; /* Progress von 0 bis 1 */

    background-image:
        linear-gradient(#0C41FB, #0C41FB),
        linear-gradient(#0C41FB, #0C41FB),
        linear-gradient(#0C41FB, #0C41FB),
        linear-gradient(#0C41FB, #0C41FB);
    background-repeat: no-repeat;
    background-position: top left, top right, bottom right, bottom left;

    /* Dynamische Größen per Progress */
    background-size:
        calc(var(--p) * 100%) 5px,
        5px calc((var(--p) - 0.25) * 100% * 4),
        calc((var(--p) - 0.5) * 100% * 2) 5px,
        5px calc((var(--p) - 0.75) * 100% * 4);

    transition: background-size 0.01s linear;
}
