/* Schriften - Standards*/

h2{
    font-family: 'Inter-Bold';
    font-size: 42px;
    text-align: center;
}

h3{
    font-family: 'Inter-Bold';
    font-size: 35px;
    text-align: center;
}

p,
.p{
    font-family: 'Inter-Medium';
    font-size: 25px;
    text-align: center;
}

@font-face {
    font-family: 'Inter-Medium';
    src: url('../Fonts/Inter-Medium.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Inter-Bold';
    src: url('../Fonts/Inter-Bold.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

.background-number{
    font-family: 'Inter-Bold';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20rem;
    color: #026DEB;
    opacity: 0.1;
    z-index: -1;
}

.header-title{
    text-align: center;
}

.header-text{
    color: #0C41FB;
    margin-top: 14rem;
}

img{
    align-self: center;
}