/* Schriften - Standards*/
h1{
    font-family: 'Inter-Bold';
    font-size: 54px;
}

h2{
    font-family: 'Inter-Bold';
    font-size: 42px;
}

h3{
    font-family: 'Inter-Bold';
    font-size: 35px;
}

p{
    font-family: 'Inter-Medium';
    font-size: 25px;
}

@font-face {
    font-family: 'Inter Medium';
    src: url('Fonts/Inter-Medium.woff2') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Inter Bold';
    src: url('Fonts/Inter-Bold.woff2') format('truetype');
    font-weight: normal;
    font-style: normal;
}
